html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
  font-family: $open-sans;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  background-color: #111;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}


.primary-btn {
  display: inline-block;
  color: #fff;
  background-color: $monarch;
  padding: 10px 25px;
  margin-top: 10px;
  letter-spacing: 1px;

  &:hover {
    transform: skew(-10deg);
    text-decoration: none;
  }
}