@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  margin-bottom: 20px;
  font-family: $fira-sans;
}

h1 {
  font-size: 36px;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4, h5, h6 {
  font-size: 20px;
}

p {
  line-height: 24px;
  margin-bottom: 15px;
}

a {
  color: $monarch;
  font-weight: 400;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}