.hero {
  position: relative;
  background-color: #111;
  color: #fff;
  height: 80vh;

  &:after {
    position:absolute;
    content: " ";
    display:block;
    left:-5%;
    bottom:-30px;
    transform:rotate(2deg);
    width:110%;
    height: 100px;
    background: #111;
  }


  .content {
    max-width: 500px;
    padding-top: 150px;
  }
}