.hero {
  position: relative;
  color: #fff;
  height: 90vh;
  z-index: 1;
  background-color: #ebebeb;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.9), transparent);
    z-index: -1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 90vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    background: url(/images/hp-arch.jpg) no-repeat;
    background-size: cover;
    z-index: -2;
  }

  .content {
    max-width: 500px;
    padding-top: 150px;
  }
}