.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;

  .photo {
    background-color: red;

    img {
      display: block;
      width: 100%;
    }
  }
}