header {
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 .logo {
    color: #fff;
    text-decoration: none;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

    li {
      a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: #fff;
        font-weight: 400;;
      }
    }
  }
}